html {
    font-size: 18px;
    font-family: Nunito, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}


/*-----HEADER-----*/
header {
    display: flex;
    height: 64px;
    align-items: center;
}

header .brand {
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 32px;
    flex: 1;
}

.brand h5 {
    text-transform: uppercase;
    color: #818386;
}

.brand span {
    font-weight: bolder;
    color: #234975;
}

.brand a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-standard ul {
    display: flex;
    margin-right:  24px;
}

.nav-standard ul li a {
    color: #818386;
    text-decoration: none;
    margin-left: 16px;
}

.nav-standard ul li a:hover {
    color: #234975;
    font-weight: bold;
}

.nav-standard .sign-in a{
    color: #ffffff;
    background-color: #9b9b9b;
    padding: 10px;
    border-radius: 10px;
}

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 650px){
    header .brand {
        display: none;
    }
    
    .nav-standard {
        display: none;
    }
    
    .nav-mobile {
        display: flex;
        width: 100%;
    }
    
    .nav-mobile ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
}


/*-----HERO SECTION-----*/
#hero-section{
    display: flex;
    flex-direction: row;
    background-color: #d8d8d8;
}

#hero-section .img-container {
    width: 60%;
    margin: 32px 24px;
}

#hero-section img {
    width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.hero-text h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.hero-text h4 {
    font-size: 1.3rem;
    margin: 20px 0;
}

.hero-text .btn {
    background-color: #234975;
    color: white;
    padding: 20px 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    transition-property: background-color;
    transition-duration: 500ms;
}

.hero-text .btn:hover {
    background-color: #4f93e2;
}

@media only screen and (max-width: 650px) {
    #hero-section {
        flex-direction: column;
        align-items: center;
    }
    
    #hero-section .img-container {
        margin: 0 0;
        width: 100%;
    }
    
    .hero-text {
        width: 95%;
        margin: 32px;
    }
    
    .hero-text h1{
        font-size: 1.8rem;
    }
    
    .hero-text h4 {
        font-size: 1.2rem;
    }
}


/*-----INFO ARTICLES SECTION-----*/
#info-section {
    display: flex;
    flex-direction: row;
    margin: 32px auto;
}

.large-article {
    width: 60%;
    margin: 0 24px;
}

.large-article img {
    width: 100%;
}

.article-stack {
    width: 35%;
}

.mobile {
    display: none;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e9ebeb;
}

.article:last-child {
    background-color: #eaebec;
    border-bottom: none;
}

.article img{
    width: 35%;
    height:auto;
    margin: 16px;
}

.article-text {
    width: 65%;
}

.large-article h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 15px 0;
}

.large-article .author {
    margin-top: 20px;
    font-size: .8rem;
}

.article-text h5 {
    font-weight: bold;
    color: #234975;
    font-size: 1.2rem;
}

.article p {
    color: #4a4a4a;
    line-height: 1.2;
    margin: 10px 0;
    margin-bottom: 0;
    font-size: 1.1rem;
}

.article-text .read a:hover {
    color: #1e90ff;
}

@media only screen and (max-width: 650px) {
    #info-section {
        margin-top: 0px;
    }
    
    #info-section .large-article {
        display: none;
    }
    
   #info-section .article-stack {
        width: 100%;
    }
    
    #info-section .article {
        border: none;
        margin: 0;
        flex-direction: column;
    }
    
    #info-section .article img {
        display: none;
        
    }
    
    #info-section .article .mobile {
        display: flex;
        width: 95%;
        height: auto;
    }
    
    #info-section .article-text {
        width: 90%;
        padding: 16px;
    }
    
    #info-section .article:last-child {
        background-color: #eaebec;
    }
}


/*-----COURSE SECTION-----*/
#course-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaebec;
}

#course-section h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 32px;
}

.courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 72px 32px 72px;
}

.course-card {
    width: 30%;
    margin: 32px 16px;
    background-color: #ffffff;
    margin-top: 0px;
    transition: background-color 250ms ease-in 0.15s;
}

.course-card:hover {
    background-color: #d4dbf0;
}

.course-card img {
    width: 100%;
    height: auto;
}

.course-card h5 {
    font-weight: bold;
    margin: 16px;
    color:#234975;
}

.course-card p {
    margin: 16px;
    color: #4a4a4a;
}

@media only screen and (max-width: 650px) {
    #course-section {
        background-color: #ffffff;
        border-top: 1px solid #eaebec;
        justify-content: center;
        align-items: center;
    }
    
    #course-section h2 {
        margin-bottom: 16px;
    }
    
    .course-section-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .courses {
        flex-flow: column;
        width: 90%;
        margin: 0 0 0 0;
        justify-content: center;
        align-items: center;
    }
    
    .course-card {
        width: 100%;
        background-color: #d8d8d8;
        margin: 8px;
    }
    
    .course-card:last-child {
        margin-bottom: 32px;
    }
    
    .course-card img {
        display: none;
    }
    
    .course-card p {
        display: none;
    }
    
    .course-card p:last-child {
    margin-bottom: 24px;
}
}


/*-----THESIS SECTION-----*/
#thesis-section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

#thesis-section h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 32px;
    text-align: center;
}

.thesis-articles {
    display: flex;
}

video {
    width: 100%;
}

#thesis-section .large-article h2 {
    margin: 24px 0 8px 0;
    text-align: left;
}

#thesis-section .thesis-container .article-stack .article:first-child {
    background-color: #eaebec;
    border-bottom: none;
}

#thesis-section .thesis-container .article-stack .article:last-child {
    background-color: #ffffff;
}

@media only screen and (max-width: 650px) {
    #thesis-section {
        margin-bottom: 24px;
    }
    
    .thesis-articles {
        flex-direction: column;
        align-items: center;
    }
    
    #thesis-section .large-article {
        width: 100%;
    }
    
    #thesis-section .large-article h2,
    #thesis-section .large-article p {
        display: none;
    }
    
    #thesis-section .article-stack{
        display: none;
    }
}


/*-----FOOTER-----*/
footer {
    display: flex;
    border-top: 1px solid #e9ebeb;
    justify-content: space-between;
    padding: 16px 24px;
}

footer .copyright {
    color: #4a4a4a;
    font-size: .8rem;
}

footer .extras ul{
    display: flex;
    flex-direction: row;
}

.extras ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: .8rem;
}

@media only screen and (max-width: 650px) {
    footer {
        border: none;
    }
    .extras {
        display: none;
    }
}