html {
    font-size: 18px;
    font-family: Nunito, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Roboto, sans-serif;
}

/*-----HEADER-----*/
header {
    display: flex;
    height: 64px;
    align-items: center;
}

header .brand {
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 32px;
    flex: 1;
}

.brand h5 {
    text-transform: uppercase;
    color: grey;
}
.brand span {
    font-weight: 900;
    color: black;
}

.nav-standard ul {
    display: flex;
    margin-right:  24px;
}

.nav-standard ul li a {
    color: grey;
    text-decoration: none;
    margin-left: 16px;
}

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 650px){
    header .brand {
        display: none;
    }
    
    .nav-standard {
        display: none;
    }
    
    .nav-mobile {
        display: flex;
        width: 100%;
    }
    
    .nav-mobile ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
}

/*-----HERO SECTION-----*/
#hero-section{
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

#hero-section .img-container {
    width: 60%;
    margin: 32px 24px;
}

#hero-section img {
    width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.hero-text h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.hero-text h4 {
    font-size: 1.3rem;
    margin: 20px 0;
}

.hero-text .btn {
    background-color: black;
    color: white;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    #hero-section {
        flex-direction: column;
        align-items: center;
    }
    
    #hero-section .img-container {
        margin: 0 0;
        width: 100%;
    }
    
    .hero-text {
        width: 95%;
        margin: 32px;
    }
    
    .hero-text h1{
        font-size: 1.8rem;
    }
    
    .hero-text h4 {
        font-size: 1.2rem;
    }
}
